.c-container {
    $self: &;
    $prefix: 'container';

    width: 100%;
    min-height: 1282px;
    padding: 0;

    &-inner {
        width: 985px;
        height: 100vh;
        margin: 0 auto;
        position: relative;
    }

    &--with-background {
        background: #FFF;

        @include md {
            background: url(../img/background.jpg) no-repeat top center;
            background-repeat: no-repeat;
        }

        &:after {
            background: $color-mid-gray;
            height: 172px;
            width: 100%;
            content: "";
            display: block;
            position: absolute;
            z-index: -1;
            top: 0;
        }

    }

}